<mapp-logo></mapp-logo>
<div class="mapp-schedule-header">
  <input type="search" id="search-mentor-query" class="form-control" placeholder="Search...">
  <button class="btn btn-primary mapp-schedule-filter-button">Filter</button>
</div>
<div class="mapp-schedule-mentor-list">
  <dom-repeat items={{mentors}}>
    <template>
      <mapp-mentor-card first-name={{item.firstName}} last-name={{item.lastName}} skills={{item.skills}} actions={{item.actions}} profile-picture={{item.profilePictureLink}}></mapp-mentor-card>
    </template>
  </dom-repeat>
</div>
