:host {
  display: flex;
  flex-align: center;
  flex-direction: column;
}

h2, h3 {
  text-align: center;
}

.mapp-confirmation-users {
  display: flex;
  justify-content: space-around;
}

.mapp-event-confirmation-card {
  margin: 16px auto;
}