<mapp-logo></mapp-logo>
<h2 class="display-4">Session scheduled!</h2>
<h3 class="display-4">🎉</h3>
<div class="mapp-confirmation-users">
  <mapp-mentor-card id="24" first-name="{{mentor.firstName}}" last-name="{{mentor.lastName}}" role="{{mentor.role}}"></mapp-mentor-card>
  <mapp-mentor-card first-name="{{mentee.firstName}}" last-name="{{mentee.lastName}}" role="{{mentee.role}}"></mapp-mentor-card>
</div>
<div class="card mapp-event-confirmation-card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{timeSlot}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{skill}}</h6>
    <a href="#" class="btn btn-primary">Add to calendar</a>
  </div>
</div>
