<h2 class="display-4">Session scheduled!</h2>
<h3 class="display-4">🎉</h3>
<div class="mapp-confirmation-users">
  <mapp-mentor-card full-name="{{mentor.fullName}}" role="{{mentor.role}}"></mapp-mentor-card>
  <mapp-mentor-card full-name="{{mentee.fullName}}" role="{{mentee.role}}"></mapp-mentor-card>
</div>
<div class="card mapp-event-confirmation-card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Wed 10 Apr, 10-11</h5>
    <h6 class="card-subtitle mb-2 text-muted">Bots</h6>
    <a href="#" class="btn btn-primary">Add to calendar</a>
  </div>
</div>