<div class="card">
  <div class="card-img-top">[[nameInitials]]</div>
  <div class="card-body">
    <h4 class="card-title">[[fullName]]</h4>
    <h6 class="card-subtitle">[[role]]</h6>
    <div class="card-text">
      <dom-repeat items={{skills}}>
        <template>
          <div class="badge badge-primary">{{item.name}}</div>
        </template>
      </dom-repeat>
    </div>
    <dom-repeat items={{actions}}>
      <template>
        <a class="btn btn-primary" href={{item.href}}>{{item.name}}</a>
      </template>
    </dom-repeat>
  </div>
</div>