.btn-primary, .badge-primary {
  background-color: #19b8ba;
  border-color: #19b8ba;
}

.btn-primary:hover, .btn-secondary {
  background-color: #b0eee6;
  border-color: #b0eee6;
  color: #13898b;
}

.btn-secondary {
  background-color: #b0eee6;
  border-color: #b0eee6;
  color: #13898b;
}

.btn-secondary:hover {
  background-color: #13898b;
  border-color: #13898b;
  color: #fff;
}