:host {
  display: block;
  padding: 20px;
}

.card-img-top {
  background: #444;
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: #eee;
  font-size: 3em;
  font-weight: bold;
}

.card-text {
  margin-bottom: 16px;
}

h6 {
  margin: 16px 0;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.footer {
  padding: 16px;
  text-align: right;
}
