.card-img-top {
  background: #444;
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: #eee;
  font-size: 3em;
  font-weight: bold;
}

.card-text {
  margin-bottom: 16px;
}
