:host {
  display: block;
  height: 100vh;
  overflow: auto;
  padding: 20px;
}

a:hover {
  text-decoration: none;
}

.user-box {
  text-align: right;
}

.card-img-top {
  background: #444;
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: #EEE;
  font-size: 3em;
  font-weight: bold;
}
